<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag('Instagram_icon.png', :class => 'icon') %>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <%= @user.username %>
        <%= image_tag(@user.profile_picture, :class => 'icon') %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= 'Hi ' + @user.full_name%>
    <hr>
    <div class="row">
      <ul class="captions">
        <% @recent_media_items.each do |media| %>
            <li>
              <%= image_tag (media.images.standard_resolution.url), :class => 'images' %>
            </li>
        <% end %>
      </ul>
    </div>
    <br>
    <hr>
    <%= link_to 'Search for hash tags here', :controller => 'instagram', :action => 'tags'%><br>
    <%= link_to 'Logout', :controller => 'session', :action => 'logout'%>
  </div>
</div>
